@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');

.product-grid {
    display:grid;
    grid-gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top:20px;
    margin-left: 20px;
}
.buttons {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 10px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.buttons:disabled {
  pointer-events: none;
  opacity: 0.3;
}

.buttons:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.buttons:active {
  box-shadow: none;
  transform: translateY(0);
}

@media screen and (max-width: 1000px){
  #movie-grid{
      grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 800px){
  #movie-grid{
      grid-template-columns: 1fr;
  }
}

:root {
  --border-radius: 10px;
}

body, html {
  background: #e2e9f4;
  height: 100%;
}

.container {
  display: flex;
  padding-top: 50px;
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow:
    -2px -2px 6px rgba(#fff, .6) 2px 2px 12px #c8d8e7;

}

label {
  font-family: "Hind", sans-serif;
  display: block;
  color: #3c4b66;
  margin-bottom: 12px;
  background: linear-gradient(45deg, rgba(#6b7b8f, 1), #3c4b66);
  -webkit-background-clip: text;
}


input {
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: black;
  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;

};

.hidden {
    display:none
}

#norm {
  padding-top: 100px
}

body, html {
  background: #e2e9f4;
  height: 100%;
}

.Card {
  padding: 1px;
  border-radius: var(--border-radius);
  background: linear-gradient(-67deg, rgba(#c8d8e7, .7), rgba(255,255,255,.8));
  overflow: hidden;
  box-shadow:
    -2px -2px 6px rgba(#fff, .6),
    2px 2px 12px #c8d8e7;
  width: 380px;
}

.CardInner {
  padding: 16px 16px;
  background-color: #e2e9f4;
  border-radius: var(--border-radius);
}

.container {
  display: flex;
}

.Icon {
  min-width: 46px;
  min-height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--border-radius);
  margin-right: 12px;
  box-shadow:
    -2px -2px 6px rgba(#fff, .6) 2px 2px 12px #c8d8e7;

}

input {
  background-color: #e3edf7;
  padding: 16px 32px;
  border: none;
  display: block;
  font-family: 'Orbitron', sans-serif;
  font-weight: 600;
  color: #a9b8c9;

  -webkit-appearance: none;
  transition: all 240ms ease-out;
  width: 100%;

};
